.swatch
  size 50px
  margin-left b8
  position relative
  display inline-block

// GRID
.style-grid
  border-radius b3
  background-color green52  
  clear both
  font-line b2

// COLOR
.style-color
  position relative
  display inline-block
  height 130px
  min-width 200px
  margin b8
  padding b8
  vertical-align top

swatch(color)
  color color
  .swatch
    background-color color
    &.c51
      background-color mix(color, white, 25%)
    &.c52
      background-color mix(color, white, 50%)
    &.c53
      background-color mix(color, white, 75%)
    &.c11
      background-color mix(color, black, 25%)
    &.c12
      background-color mix(color, black, 50%)
    &.c13
      background-color mix(color, black, 75%)

.style-color
  &.red
    swatch(red)
  &.orange
    swatch(orange)
  &.yellow
    swatch(yellow)
  &.green
    swatch(green)   
  &.blue
    swatch(blue)
  &.purple
    swatch(purple)
    
